.rst-content code, .rst-content tt {
  white-space: pre-wrap;
}
.wy-side-nav-search {
  background-color: firebrick;
}
.wy-nav-top {
  background-color: firebrick;
}
a {
  color: firebrick;
}
/* visited link */
a:visited {
  color: #999;
}

.wy-side-nav-search a:visited{
  color: white;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: white;
}

.wy-menu-vertical a{
  color: #F3CBCB;
}

.wy-side-nav-search input[type=text] {
  border-color: #F3CBCB;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt,
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
  background: #F3CBCB;
  color: firebrick;
  border-top: 3px solid firebrick;
}

.rst-content .viewcode-back, .rst-content .viewcode-link {
    color: firebrick;
}